* {
    box-sizing: border-box;
}

html body {
    height: 100vh;
    margin: 0;
    background-color: lightgray;
    font-size: 16px;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 100px;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 75vh;
    max-width: 750px;
    max-height: 1000px;
    align-self: center;
    background-color: grey;
    border: 10px solid black;
    border-radius: 10px;
}

#display-container {
    width: 90%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    background-color: #78d9de;
    border-radius: 10px;
    text-align: right;
    position: relative;
}

#display-container > #display {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2%;
    font-size: 36px;
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#button-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 100%;
}

button {
    height: 25%;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: bold;
    border-radius: 20px;
    background-color: lightgrey;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#equals, #add, #divide, #multiply, #minus {
    background-color: orange;
    color: White;
}

#clear {
    background-color: crimson;
    color: white;
}
