* {
    box-sizing: border-box;
}

html body {
    height: 100vh;
    margin: 0;
    background-color: lightgray;
    font-size: 16px;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 350px;
    align-self: center;
    background-color: grey;
    border: 10px solid black;
    border-radius: 10px;
}

.display-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    background-color: #78d9de;
    border-radius: 10px;
    text-align: right;
    position: relative;
    border: 2px solid darkgray;
}

.display {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 2.4em;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 10px;
}

.button-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 100%;
}

button {
    height: 25%;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

.clear {
    font-size: 1rem;
}

.operator, .equals {
    background-color: orange;
    color: white;
}

.operator:active, .equals:active {
    background-color: white;
    color: orange;
}

.clear, .sign, .percent {
    background-color: slateblue;
    color: white;
}

.clear:active, .sign:active, .percent:active {
    background-color: white;
    color: slateblue;
}

.operand, .decimal {
    background-color: #228C22;
    color: white;
}

.operand:active, .decimal:active {
    background-color: white;
    color: #228C22;
}

.zero {
    width: 200%;
}

.col-two {
    max-height: 80%;
}

.col-two button {
    height: 25%;
}



.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 10px;
    padding: 0px 5px;
    background: orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}

.link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    transition: fa-spin .7s ease-in-out;
    transition: transform 0.7s ease-in-out;
}

.fa-spin-hover:hover {
    animation: fa-spin 0.4s ease-in-out;
}