* {
    box-sizing: border-box;
}

html body {
    height: 100vh;
    margin: 0;
    background-color: lightgray;
    font-size: 16px;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 100px;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 75vh;
    max-width: 700px;
    max-height: 900px;
    align-self: center;
    background-color: grey;
    border: 10px solid black;
    border-radius: 10px;
}

#display-container {
    width: 90%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    background-color: #78d9de;
    border-radius: 10px;
    text-align: right;
    position: relative;
}

#display-container > #display {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2%;
    margin-bottom: 5%;
    font-size: 72px;
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 15px;
}

#button-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 100%;
}

button {
    height: 25%;
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

.operator, .equals {
    background-color: orange;
    color: white;
}

.operator:active, .equals:active {
    background-color: white;
    color: orange;
}

.clear, .sign, .percent {
    background-color: slateblue;
    color: white;
}

.clear:active, .sign:active, .percent:active {
    background-color: white;
    color: slateblue;
}

.operand, .decimal {
    background-color: #228C22;
    color: white;
}

.operand:active, .decimal:active {
    background-color: white;
    color: #228C22;
}

.zero {
    width: 200%;
}

.col-two {
    max-height: 80%;
}

.col-two button {
    height: 25%;
}



#header {
    position: absolute;
    top: 0;
    width: 27vw;
    height: 60px;
    background: orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}

.link {
    margin-bottom: 0;
    margin-top: 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: all .7s ease-in-out;
}

.fa-spin-hover:hover {
    animation: fa-spin 0.7s ease-in-out;
    transform: scale(1.1);
}